main {
  margin-top: 1.4rem;
  width: auto;
}

.container {
  display: grid;
  width: 96%;
  gap: 8rem;
  grid-template-columns: 14rem auto 0;
  margin: 0 auto;
}

span.validation-error {
  color: red;
  padding: 1rem;
}
